@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet');


.wrapper{
	width: 100%;
	height: 100%;
	padding: 0px;
	background: linear-gradient(45deg, #fbda61, #ff5acd);	
}	
 
.block__row{
	display: flex;
	width: 93%;
	justify-content: space-between;
	border: 10px solid #ece89d;
	margin: 0px 0px 0px -5px;
	padding: 50px;
	flex-wrap: wrap;	
}

.block__column {
	border: 0px solid #Se5373;
	padding: 20px 0px; 
}

.block__item {
	background: -color: #18b5a4;
	padding: 0px;
	font-size: 0px;
	color: #fff;
	font-weight: 0;
}


.card
{
	position: relative;
	width: 154px;
	height: 190px;
	background: #fff;
	border-radius: 5px;
	transition: 0.5s;
	padding: 0px -50px;
    margin: 50px 0px;
    left: -40px;

}
.card:hover
{
	height: 480px;
}
.imgBx
{
	position: absolute;
	left: 50%;
	top: 20px;
	transform: translateX(-50%);
	width: 150px;
	height: 150px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 15px 10px rgba(0,0,0,0.35);
	overflow: hidden;
	transition: 0.5s;
}
.card:hover .imgBx
{
	width: 250px;
	height: 250px;
	z-index: 2;	
}
.imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card .content 
{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	overflow: hidden;
}
.card .content .details 
{
	padding: 20px;
	text-align: center;
	width: 100%;
	transition: 0.5s;
	transform: translateY(150px);
}
.card:hover .content .details 
{
	transform: translateY(-50px);
}


.card .content .details .actionBtn
{
	display: flex;
	justify-content: space-between;
	gap: 20px;
	padding: 0px;

}

.actionBtn  button
{
	padding: 3px 5px;
	border-radius: 4px;
	border: none;
	outline: none;
	font-size: 1em;
	font-weight: 0;
	background: blue;
	color: #fff;
	cursor: pointer;
}
.actionBtn  button:nth-child(2)
{
	border: 1px solid #999;
	color: #fff;
	background: green;
}

